<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">body:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

 
  <div class="col-md-6 post-list">
     {{#if posts.length}}
    <h3>Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        <button class="btn btn-sm btn-info" data-id="{{post.id}}">EDIT</button>
      </div>
    </div>

    <form class="form edit-post-form" style="display: none;">
      <div class="form-group">
        <label for="edit-post-title">post title:</label>
        <input class="form-input" type="text" id="edit-post-title" name="edit-post-title" />
      </div>
      <div class="form-group">
        <label for="edit-post-body">body:</label>
        <textarea class="form-input" id="edit-post-body" name="edit-post-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary cancel-edit-post">Cancel</button>
      </div>
    </form>
    
    {{/each}}
  {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>
